<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","layout":{"type":"constrained"}} -->
<main class="wp-block-group"><!-- wp:pattern {"slug":"3ducation/workshops-hero"} /-->

<!-- wp:pattern {"slug":"3ducation/workshops-detail"} /-->

<!-- wp:pattern {"slug":"3ducation/workshops-parties"} /-->

<!-- wp:pattern {"slug":"3ducation/workshops-audiences"} /-->

<!-- wp:pattern {"slug":"3ducation/workshops-intake"} /--></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
